<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Credentials</title>

	</head>
	<style type="text/css">
			body
			{
				background-color: #393939;
				color: white;
			}
			input
			{
				background-color: #8d8d8d;
			}
		</style>

	<body>

		<form name="credentialsForm" action="/credentials" method="post">

			<div>
				<h4>NextCloud Credentials</h4>
				<input name="nc_user" type="text" />
				<input name="nc_password" type="password" />
			</div>

			<div>
				<h4>GitHub Credentials</h4>
				<input name="git_user" type="text" />
				<input name="git_password" type="password" />
			</div>

			<div>
				<h4>Encryption Key</h4>
				<input name="encryption_key" type="password" />
			</div>

			<div style="margin-top:1em">
				<input type="submit" value="Abschicken">
			</div>

		</form>

	</body>

</html>