<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
	
	<bean id="mainClass" class="org.example.spring.MainClass">
		<property name="str" ref="str" />
	</bean>
	
	<bean id="str" class="java.lang.String">
		<constructor-arg value="StandAloneTest" />
	</bean>
	
</beans>